### IntelliJ IDEA ###
# Ignore compiled output
out/

# Ignore most of the .idea folder
.idea/
# But allow sharing these useful settings if you want
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/

# Ignore IntelliJ-specific files
workspace.xml
tasks.xml
shelf/
*.iws
*.ipr
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Java / Build ###
*.log
*.tmp
*.bak
*.swp
.gradle/
build/
target/
*.jar
